[KdmGreeterTheme]
Encoding=UTF-8
Greeter=eta.xml
Name=Eta
Description=Default KDM theme for ETA
Author=Yunusemre Şentürk
Copyright=(c) Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Screenshot=screenshot.png
