[Desktop Entry]
Name=Eta

X-KDE-PluginInfo-Name=eta
X-KDE-PluginInfo-Author=Yunusemre Şentürk
X-KDE-PluginInfo-Email=yunusemre.senturk@pardus.org.tr
X-KDE-PluginInfo-License=GPL-3
